@page
@model LogoutModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Çıkış Yapılıyor...</title>
</head>
<body>
    <p>Oturum kapatılıyor. Lütfen bekleyin...</p>
</body>
</html>
